<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/main.css">

     
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

      
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            <!--images are 1024 x 768-->
            <header class="head" role="banner">
                <a href="" class="logo">
                <img src="assets/worldgrub.png" alt="World Grub">
                    
                </a>

            </header><!-- end header -->
        
        <div class="top-divider">
            
        </div>

            <div class="wrap main-content">
            <section class="grid-ingredients">   
                <div class="ingredient-input">
                    <h2>Ingredients</h3>
                        <form id="ingredient-input-form">
                            <div>
                                <label>
                                <input type="text" class="ingredient-input-text" id="ingredient-input" size="15">
                                </label>
                            </div>
                            <input type="submit" class="btn btn-add-ingredient" value="Add">
                            <label>
                                <input type="text" class="ingredient-list-text" id="ingredient-list" size="80" readonly>
                            </label>
                        </form>
                    <label>
                        <div class="region-images">
                            <img src="assets/world-bottom.jpg" alt="Region">
                        </div>
                        
                    </label>
                </div>
                
                <div class="ingredients-list">
                </div>
                
                
                
                
            </section><!-- end product grid -->

            <aside class="sidebar">

            <h2>Regions of the World</h2> 
<!--                    african, chinese, japanese, korean, vietnamese, thai, indian, british, irish, french, italian, mexican, spanish, middle eastern, jewish, american, cajun, southern, greek, german, nordic, eastern european, caribbean, or                      latin american.-->
                 
                <ul class="region-list" id="cf7_controls">
                    <li class="selected"><a href="">african</a></li>
                    <li><a href="">chinese</a></li>
                    <li><a href="">japanese</a></li>
                    <li><a href="">korean</a></li>
                    <li><a href="">vietnamese</a></li>
                    <li><a href="">thai</a></li>
                    <li><a href="">indian</a></li>
                    <li><a href="">british</a></li>
                    <li><a href="">irish</a></li>
                    <li><a href="">french</a></li>
                    <li><a href="">italian</a></li>
                    <li><a href="">mexican</a></li>
                    <li><a href="">spanish</a></li>
                    <li><a href="">middle eastern</a></li>
                    <li><a href="">jewish</a></li>
                    <li><a href="">american</a></li>
                    <li><a href="">cajun</a></li>
                    <li><a href="">southern</a></li>
                    <li><a href="">greek</a></li>
                    <li><a href="">german</a></li>
                    <li><a href="">nordic</a></li>
                    <li><a href="">eastern european</a></li>
                    <li><a href="">caribbean</a></li>
                    <li><a href="">vietnamese</a></li>
                    <li><a href="">latin american</a></li>          
                </ul>
            </aside>
        </div><!--end wrap -->

        
        <footer class="foot">
            
            
        </footer>




        
    </body>
</html>