<header class="head" role="banner">
        <a href="" class="logo">
        <%= image_tag("worldgrub.png") %>

        </a>

</header><!-- end header -->

<div id="main-container" class="container">

<div class="col-md-4" >
<table>
    <tr>

            <% @data.each do |item| %>
            <h1><%= item["title"] %></h1>
            <div ><img class="recipe_image" src=<%= @baseUri + item["image"] %> ></div>
            <% end %>

        </tr>
        </table>
</div>


<div class="col-md-8" >
<table>
    <tr>

                    <% @dataRecipeInfo.each do |info| %>
                    <div><h2><%=info["originalString"]%></h2></div>
                    <% end %>

    </tr>
</table>
</div>

</div>

